
# Created by https://www.gitignore.io/api/c

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# after compilation
# git s >> .gitignore
.deps/
Makefile
asc2xml
cexport
config.h
config.log
config.status
hxaddid
hxcite
hxclean
hxcopy
hxcount
hxextract
hxincl
hxindex
hxmkbib
hxmultitoc
hxname2id
hxnormalize
hxnsxml
hxnum
hxpipe
hxprintlinks
hxprune
hxref
hxremove
hxselect
hxtabletrans
hxtoc
hxuncdata
hxunent
hxunpipe
hxunxmlns
hxwls
hxxmlns
stamp-h1
xml2asc

# End of https://www.gitignore.io/api/c
